<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=ISO-8859-1">
<META HTTP-EQUIV='Content-Language' CONTENT='en'>
<META HTTP-EQUIV='Pragma' CONTENT='no-cache'>
<meta HTTP-EQUIV='cache-control' CONTENT='no-cache, must-revalidate'>
<meta name=description content=magazyn>
<meta name=keywords content=magazyn>
<META NAME='Robots' CONTENT='INDEX, FOLLOW'>

<LINK REL='stylesheet' HREF='style/multipads/style.css' TYPE='text/css'>
<title>:: MVE ::</TITLE>
<SCRIPT language=JavaScript src="skrypty/waluta.js"></SCRIPT>
<script type="text/javascript" src="skrypty/overlib/overlib.js"><!-- overLIB (c) Erik Bosrup --></script>

<SCRIPT LANGUAGE="JavaScript">
<!--
function display(url, width, height) {
        var Win = window.open(url,'displayWindow','width=' + width + ',height=' + height + ',resizable=0,scrollbars=yes,menubar=no' );
}

function selecturl(s) {
        var gourl = s.options[s.selectedIndex].value;
		window.top.location.href = gourl;
}

function bookmarkit(){
window.external.addFavorite('http://localhost','magazyn')
}

function zlicz0(pp, ppu, licz){
  var suma=(pp * ppu);
  order0._all[licz].value=suma;
}

function m_l_data(pole){
var dl = pole.value.length;

switch (dl)
 {
  case 2: pole.value +=":";break;
  case 5: pole.value +=":00";break;
 }
}

function m_l_data2(pole){
var dl = pole.value.length;

switch (dl)
 {
  case 4: pole.value +="-";break;
  case 7: pole.value +="-";break;
 }
}

//-->
</SCRIPT>

<script type="text/javascript">

function jumpBox(list) {
  location.href = list.options[list.selectedIndex].value
}
</script>

</HEAD>

<body class=PageBODY bgcolor=#FFFFFF topmargin=0 leftmargin=0 marginwidth=0 marginheight=0 text=#000000 link=#0000FF vlink=#0000FF alink=#FF0000>
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
<CENTER>
<TABLE WIDTH=100% cellSpacing=0 cellPadding=0 BORDER=0>

<TR>
<TD class='ColumnTD' border=0 BGCOLOR=#0000CC >
<p align=center>
</TD></TR>

<BR><font class='FormHeaderFont'>Reports - Float Sheets Module  - Template</font><BR><BR>

<center>
<TABLE><TR><TD>

<table width=100% border='0' cellpadding='3' cellspacing='1' class='FormTABLE'>
<tr>
    <td class='ColumnTD' nowrap>Float Sheet of a day</td>
    <td class='ColumnTD' nowrap>&nbsp;</td>
    <td class='ColumnTD' nowrap><font class='FormHeaderFont'>Description</font></td>
</tr>
<tr>
	 <td class='DataTD'>Grade</td>
    <td class='DataTD'><A HREF='hrrgrade.php'>OK</A></td>
    <td class='DataTD'>Who is worth staing wit us </td>
</tr>
<tr>
	 <td class='DataTD'>StartDate Post 1Y</td>
    <td class='DataTD'><A HREF='srp04.php'>OK</A></td>
    <td class='DataTD'></td>
</tr>
<tr>
	 <td class='DataTD'>Casual list</td>
    <td class='DataTD'><A HREF='hrclist.php'>OK</A></td>
    <td class='DataTD'></td>
</tr>
<tr>
	 <td class='DataTD'>Regular - post one year</td>
    <td class='DataTD'><A HREF='hrrlist1yp.php'>OK</A></td>
    <td class='DataTD'></td>
</tr>
<tr>
	 <td class='DataTD'>Regular - pre one year</td>
    <td class='DataTD'><A HREF='hrrlist1ym.php'>OK</A></td>
    <td class='DataTD'></td>
</tr>
<tr>
	 <td class='DataTD'>Casual list - New window</td>
    <td class='DataTD'><A HREF='hrclist.php' target='_Blank'>OK</A></td>
    <td class='DataTD'></td>
</tr>
<tr>
	 <td class='DataTD'>Regular - post one year - New window</td>
    <td class='DataTD'><A HREF='hrrlist1yp.php' target='_Blank'>OK</A></td>
    <td class='DataTD'></td>
</tr>
<tr>
	 <td class='DataTD'>Regular - pre one year - New window</td>
    <td class='DataTD'><A HREF='hrrlist1ym.php' target='_Blank'>OK</A></td>
    <td class='DataTD'></td>
</tr>
<tr>
	 <td class='DataTD'>Regular's contact details</td>
    <td class='DataTD'><A HREF='srp05.php'>OK</A></td>
    <td class='DataTD'></td>
</tr>
<tr>
	 <td class='DataTD'>Casual's contact details</td>
    <td class='DataTD'><A HREF='srp06.php'>OK</A>&nbsp;</td>
    <td class='DataTD'></td>
</tr>
<tr>
	 <td class='DataTD'>Security</td>
    <td class='DataTD'><A HREF='r_security.php'>View</A></td>
    <td class='DataTD'>&nbsp;</td>
</tr>
<tr>
	 <td class='DataTD'>Clocking in the Office</td>
    <td class='DataTD'><A HREF='r_cl.php'>View</A></td>
    <td class='DataTD'>Wha has teh restriction to colocking in ithe Office</td>
</tr>
<tr>
	 <td class='DataTD'>Pay structure</td>
    <td class='DataTD'><A HREF='r_paystru.php'>View</A></td>
    <td class='DataTD'>Old/New pay structure</td>
</tr>
<tr>
	 <td class='DataTD'>Absentees</td>
    <td class='DataTD'><A HREF='hrnoclock1m.php'>OK</A></td>
    <td class='DataTD'></td>
</tr>
</table>
</TD></TR></TABLE>

</center>
<BR>

