<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="100%" height="400" border="0" id="201179">
  <tr>
    <td width="100%" valign="top"><table cellpadding="0" cellspacing="0" border="0" align="center" width="530">
      <tr>
        <td><img src="http://www.lastminute.com/lmn/banner/ebasket/emailer/en_GB/conf_email_banner.gif" width="530" height="30" alt="Booking confirmation" />
            <p/>&nbsp;</p>
          <!-- order information table starts -->
<br />
              <!-- conf_email_main.vel -> mabel_details_Entertainment.vel -->
              <!-- Entertainment details tab start -->
              <!-- mabel_details_Entertainment.vel -->
              <table cellpadding="0" cellspacing="0" border="0" class="tab">
                <tr>
                  <td width="10">&nbsp;</td>
                  <td class="title" nowrap="nowrap">Entertainment Details</td>
                  <td width="10"><img src="http://www.lastminute.com/lmn/banner/ebasket/emailer/tab_end.gif" width="10" height="22" /></td>
                </tr>
              </table>
          <!-- Entertainment details tab end -->
              <!-- Entertainment content table starts -->
              <table cellspacing="0" border="0" width="100%" class="background border" cellpadding="1">
                <tr>
                  <td align="center" valign="center"><!-- Main content table -->
                      <table cellpadding="8" cellspacing="0" border="0" width="100%" class="contentTable">
                        <tr>
                          <td><table cellpadding="5" cellspacing="1" border="0" width="100%" bgcolor="#017AB7">
                              <tr>
                                <td bgcolor="#BCD7E5" colspan="2"><b>The Mousetrap tickets - Agatha Christie's masterpiece &amp; dinner at La Tasca Restaurant - £34 per person - meal and show package</td>
                              </tr>
                              <tr>
                                <td bgcolor="#FFFFFF" colspan="2"><table cellpadding="0" cellspacing="1" border="0" bgcolor="#FFFFFF" width="100%">
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Product ID:</b></td>
                                      <td>479235890</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Booked in Name:</b></td>
                                      <td>Mr Janos Bodony</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Tickets and Type:</b></td>
                                      <td>2 x Adult</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Date:</b></td>
                                      <td>19:30 Wed 28 Jan 2009</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Address:</b></td>
                                      <td><table>
                                        St. Martin's Theatre, West Street, London, WC2H 9NZ
                                      </table></td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%"><b>Registered Phone:</b></td>
                                      <td>07595998522 <br />
                                        If the supplier needs to contact you, they will use this number.</td>
                                    </tr>
                                    <!-- isEntBundled is set to 1 -->
                                  </table>
                                    <ul>
                                    <li>Package details
                                        <ul>
                                          <li type="disc">Monday to Saturday - dinner at 18.00 and show at 19.30 </li>
                                          <li>Package price: &#163;34 per person </li>
                                          <li>Upper Circle Seats Normally &#163;20 </li>
                                          <li>To claim your table reservation and tickets, please present a copy of your confirmation email and the credit card you made the booking with when arriving at the restaurant and at the venue. Your tickets will be held for you to collect at the venue's box office one hour before the performance <br />
                                            Please remember to bring along the voucher from your confirmation email <br />
                                            If you don't have a printer, make a note of the order number at the top of your confirmation email and present this with your credit card </li>
                                          <li>Suitable for aged ten and above </li>
                                          <li> No dress code</li>
                                        </ul>
                                      <p> <b>Venue addresses:</b></p>
                                      <ul>
                                          <li>La Tasca, 63-66 St. Martin's Lane, London, WC2N 4JS </li>
                                        <li>St. Martin's Theatre, West Street, London, WC2H 9NZ </li>
                                      </ul>
                                      <p> <b>Please note that for this event, we are acting as disclosed agent for a
                                        third party supplier</b>
                                            </div>
                                            <!-- mop up any unclosed comments -->
                                            <br />
                                            <!-- Entertainments footnote ad begins -->
                                            <!-- Entertainments footnote ad ends -->
                                        </p>
                                    </li></td>
                              </tr>
                          </table></td>
                        </tr>
                      </table>
                    <!-- Ends -->
                  </td>
                </tr>
              </table>
          <!-- Entertainment content table ends -->
              <p>
                <!-- conf_email_main.vel -> mabel_details_Restaurants.vel -->
                <!-- Restaurants details tab start -->
                <!-- mabel_details_Restaurants.vel -->
              </p>
          <table cellpadding="0" cellspacing="0" border="0" class="tab">
                <tr>
                  <td width="10">&nbsp;</td>
                  <td class="title" nowrap="nowrap">Restaurant Booking</td>
                  <td width="10"><img src="http://www.lastminute.com/lmn/banner/ebasket/emailer/tab_end.gif" width="10" height="22" /></td>
                </tr>
              </table>
          <!-- Restaurants details tab end -->
              <!-- Restaurants content table starts -->
              <table cellspacing="0" border="0" width="100%" class="background border" cellpadding="1">
                <tr>
                  <td align="center" valign="center"><!-- Main content table -->
                      <table cellpadding="8" cellspacing="0" border="0" width="100%" class="contentTable">
                        <tr>
                          <td><table cellpadding="5" cellspacing="1" border="0" width="100%" bgcolor="#017AB7">
                              <tr>
                                <td bgcolor="#BCD7E5" colspan="2"><b>La Tasca and The Mousetrap at the St. Martin's Theatre</td>
                              </tr>
                              <tr>
                                <td bgcolor="#FFFFFF" colspan="2"><table cellpadding="0" cellspacing="1" border="0" bgcolor="#FFFFFF" width="100%">
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Restaurant Name:</b></td>
                                      <td>La Tasca Restaurant St Martins Lane - ACC</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Address:</b></td>
                                      <td><table>
                                        63-66 St Martin's Lane<br />
                                        London<br />
                                        WC2N 4JS<br />
                                        WC2N 4JS
                                      </table></td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Booked in Name:</b></td>
                                      <td>Mr Janos Bodony</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Booked For:</b></td>
                                      <td>18:00 Wed 28 Jan 2009</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Number of People:</b></td>
                                      <td>2</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Registered Phone:</b></td>
                                      <td>07595998522 <br />
                                        If the restaurant needs to contact you, they will use this number.</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="#FFFFFF" width="35%" valign="top"><b>Location Map:</b></td>
                                      <td>To view a location map, click <a href="http://www.lastminute.com/lmn/hotels/pageElements/neighbourhood/geo_mapmanager.jhtml?lat=0&amp;lon=0&amp;p=WC2N 4JS" target="_blank">here</a>.</td>
                                    </tr>
                                </table></td>
                              </tr>
                          </table></td>
                        </tr>
                      </table>
                    <!-- Ends -->
                      <br />
                  </td>
                </tr>
              </table>
          <!-- Restaurants content table ends -->
              <p>
                <!-- Booking details starts -->
                <!-- Tab starts -->
              </p>
          <table cellpadding="0" cellspacing="0" border="0" class="tab">
                <tr>
                  <td width="10">&nbsp;</td>
                  <td class="title" nowrap="nowrap">Booking details</td>
                  <td width="10"><img src="http://www.lastminute.com/lmn/banner/ebasket/emailer/tab_end.gif" width="10" height="22" /></td>
                </tr>
              </table>
          <table cellspacing="0" border="0" width="100%" class="background border" cellpadding="1">
                <tr>
                  <td valign="middle"><table cellpadding="8" cellspacing="0" border="0" width="100%" class="contentTable">
                      <tr>
                        <td><!-- Booking terms and conditions table starts -->
                            <table cellpadding="5" cellspacing="0" border="0" width="100%" class="border_secondary">
                              <tr>
                                <td class="background title"><strong>Booking information</strong></td>
                              </tr>
                              <tr>
                                <td> Your booking is subject to the terms specified in our <a href="http://www.lastminute.com/lmn/pages/tandc_popup.jhtml" class="t2Lmn" target="_blank"><b>Booking Conditions</b></a>
                                    <p>This is not a VAT invoice.</p>
                                  <p><b>All other products</b></p>
                                  <p>Last Minute Network Limited acts as an agent with respect to the sale of other products on the lastminute.com website including hotel
                                    rooms, theatre tickets and gifts. For your records, Last Minute Network Limited's VAT registration no. is 761248138 and its company
                                    registration no. is 3538456. Registered company address of Last Minute Network Limited is 39 Victoria Street, London SW1H 0EE.</p></td>
                              </tr>
                            </table>
                          <!-- Booking terms and conditions table ends -->
                        </td>
                      </tr>
                    </table>
                      <!-- Ends -->
                  </td>
                </tr>
              </table>
          <!-- Content table ends -->
              <!-- Booking details ends -->
              <p>&nbsp; </p></td>
      </tr>
    </table>
        <!VMDG>
        </font></td>
  </tr>
  <tr>
    <td></tbody></td>
  </tr>
</table>
</body>
</html>
